:root {
  --light-theme-main-color: #0da3e2;
  --light-theme-secondary-color: #67cffb;
  --dark-main-text-color: #000;
  --light-main-text-color: #fff;
  --light-theme-dropdown-bg-color: #e23f3f;
}

body {
  box-sizing: border-box;
  background-color: var(--light-main-text-color);
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-weight: 600;
  background: url(assets//pattern-6.png);
}
a {
  text-decoration: none;
  color: var(--dark-main-text-color);
}
.pre-header {
  /* margin-top: 1px; */
  padding: 8px;
  /* border-bottom: 1px solid #dbd0d0; */
  /* background: linear-gradient(135deg,var(--light-theme-main-color) 65%, var(--light-theme-dropdown-bg-color) 35%); */
  background-color: var(--light-theme-main-color);
  color: var(--light-main-text-color);
}
.container-fluid > .row,
.list-group {
  align-items: center;
}
.list-group > li > a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: 0.5s ease;
}
.list-group > li > a:hover {
  color: var(--dark-main-text-color);
}
.pre-header li {
  padding-left: 5px;
  padding-right: 10px;
}
.additional-nav > ul > li > select {
  width: calc(100% + 8px);
  border: 1px solid transparent;
  border-radius: 5px;
}
.additional-nav > ul > li > select:focus {
  border: transparent;
  border-inline: none;
  outline: none;
  box-shadow: none;
}
.header-navigation-col > ul > li:hover,
.header-navigation-col > ul > li > a:hover {
  background-color: var(--dark-main-text-color);
  letter-spacing: 0.01rem;
}
.header-navigation-col > ul > li {
  position: relative;
  left: -20px;
  list-style: none;
  width: 100% !important;
}
.header-navigation-col > ul > li > a {
  text-decoration: none;
  color: var(--dark-main-text-color);
  font-weight: 500;
  transition: 0.5s ease;
}
/**/
.dropdown-menu {
  margin: -1px !important;
}
@media screen and (max-width: 480px) and (min-width: 320px) {
  .pre-header ul {
    flex-direction: column;
  }
  .pre-header li {
    border-style: none !important;
    margin-top: 5px;
  }
  .header_navigation {
    height: 300px;
    overflow: auto;
  }
  .responsive_font {
    font-size: 12px;
  }
  .additional-shop-info li:first-child {
    padding-left: 5px;
  }
  .flex_item {
    width: 100%;
  }
  .carousel-control-prev {
    left: -12px !important;
  }
  .carousel-control-next {
    right: -12px !important;
  }
}
@media screen and (max-width: 768px) and (min-width: 481px) {
  .pre-header ul {
    flex-direction: row;
  }
  .additional-nav ul {
    display: flex;
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #f5f5f5;
  }
  .additional-nav ul li {
    flex-grow: 1;
    text-align: center;
  }
  .header_navigation {
    height: 300px;
    overflow: auto;
  }
  .responsive_font {
    font-size: 12px;
  }
  .flex_item {
    width: 33.33%;
  }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
  .pre-header ul {
    flex-direction: row;
  }
  .additional-nav ul {
    float: right;
  }
  .header_navigation {
    height: 300px;
    overflow: auto;
  }
  .flex_item {
    width: 20%;
  }
  .carousel-control-prev {
    left: -25px;
  }
  .carousel-control-next {
    right: -25px;
  }
}
@media screen and (min-width: 1025px) {
  .pre-header ul {
    flex-direction: row;
  }
  .additional-nav ul {
    float: right;
  }
  .flex_item {
    width: 20%;
  }
}

/* header-container-css */
.hide-search-input {
  display: none !important;
}
.navbar-brand > img {
  height: 4rem;
}
.nav-link {
  color: var(--dark-main-text-color);
  opacity: 0.7;
}
.nav-link:hover {
  opacity: 1;
  color: var(--dark-main-text-color);
}
.active {
  opacity: 1;
}
.dropdown-menu {
  border-radius: 0;
  display: flexbox;
  background-color: var(--light-theme-dropdown-bg-color);
  color: var(--dark-main-text-color);
  width: max-content;
  padding: 15px;
  position: absolute !important;
  top: 63px !important;
}
.dropdown-item {
  color: var(--dark-main-text-color);
}
/* download button app  */
.emergency-trigger {
  position: fixed;
  z-index: 999;
}
.emergency-trigger-btn {
  background: var(--light-theme-dropdown-bg-color);
  border: 1px solid var(--light-theme-dropdown-bg-color);
  color: var(--light-main-text-color);
  font-size: 14px;
  font-weight: 700;
  height: 350px;
  padding: 8px 6px;
  position: relative;
  text-transform: uppercase;
  z-index: 999;
}
.emergency-trigger-panel {
  display: none !important;
  position: absolute;
  background: var(--dark-main-text-color);
  border-radius: 0 0 10px 10px;
  bottom: 0;
  left: 26px;
  padding: 20px;
  top: 0;
  width: 300px;
}

.app-button > a:hover {
  border: 2px solid var(--light-main-text-color);
  padding: 10px;
  border-radius: 5px !important;
}
@media (min-width: 992px) {
  .emergency-trigger-close {
    height: 46px;
    right: -23px;
    top: 50%;
    transform: translateY(-50%);
    width: 46px;
  }
}
.emergency-trigger-close {
  background-color: var(--light-main-text-color);
  filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.2));
  height: 42px;
  position: absolute;
  right: -20px;
  top: 50%;
  width: 42px;
  border-radius: 50% !important;
}
.emergency-trigger-close > img {
  display: block;
  height: 22px;
  margin: 0 auto;
  max-width: 22px;
  width: 89%;
}
/* slider */
.slide {
  /* background-image: url(assets/pattern-3.png); */
  background-color: var(--light-theme-secondary-color);
}

.carousel-item > img {
  height: 100%;
}

/* notification  */
.overflow-auto {
  animation: scroll-left 15s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%); /* Adjust percentage based on content width */
  }
}

/* recharge section  */
.recharge-section-container {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  padding: 20px;
  /* border: 1px solid blue; */
}
.recharge-area-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border: 1px solid red; */
}

.badge {
  cursor: pointer;
}
.badge-container {
  padding-top: 15px;
  display: flex;
  width: 20rem;
  justify-content: space-between;
  align-items: center;
  /* height: 10rem; */
}
.badge-container > div {
  display: flex;
  width: 100px;
  height: 45px;
  justify-content: center;
  align-items: center;
  border-radius: 50px !important;
  padding: 15px;
  background-color: var(--dark-main-text-color);
}
.badge-container > div:hover {
  /* background-color: var(--light-theme-dropdown-bg-color) !important; */
}
.wt-input--field > input {
  padding: 10px;
  outline: none;
  border-radius: 30px !important;
  border: 2px solid var(--light-theme-dropdown-bg-color);
  width: 200px;
  text-align: center;
  transition: 0.5s ease;
}
.wt-input--field > input:focus {
  border: 2px solid var(--light-theme-main-color);
  width: 300px;
  height: 60px;
}
.recharge-btn {
  background-color: var(--light-theme-secondary-color);
  color: var(--light-main-text-color);
  padding: 10px;
  width: 300px;
  border-radius: 30px !important;
  /* box-shadow: none !important; */
}
.recharge-btn:hover {
  background-color: var(--light-theme-dropdown-bg-color);
}
/* main */
.main {
  /* background-image: url(assets/pattern-6.png);
  background-repeat: no-repeat;
  background-size: auto; */
  /* background-color: var(--dark-main-text-color); */
  height: 100%;
  width: 100%;
}
.card {
  margin: 0 auto;
}

.card > img {
  transition: transform 0.5s ease;
  height: 14rem;
}
.card > img:hover {
  transform: scale(1.1);
}

.card-body {
  text-align: center;
}

.hide-dropdown-content {
  display: none;
}

element {
  cursor: pointer;
}

/* download-row */

.quote-v1 {
  background: var(--dark-main-text-color);
  padding: 10px 0;
  margin-left: 0;
  margin-right: 0;
}
.margin-bottom-30 {
  margin-bottom: 30px !important;
}

.quote-v1 span {
  color: var(--light-main-text-color);
  font-size: 22px;
  font-weight: 300;
  margin: 13px 5px 8px;
  line-height: 26px;
  display: inline-block;
}

.quote-v1 a.btn-transparent {
  color: var(--light-main-text-color);
  font-size: 16px;
  padding: 8px 18px;
  white-space: nowrap;
  text-decoration: none;
  border: solid 1px var(--light-main-text-color);
  background: none;
}
.quote-v1 a {
  margin: 5px;
  display: inline-block;
}

.quote-v1 a:hover {
  background-color: var(--light-main-text-color);
  color: var(--dark-main-text-color) 000;
}

.quote-v1 a.btn-transparent i {
  margin-right: 10px;
}
.margin-right-10 {
  margin-right: 10px !important;
}
.recent-work h2,
.ecommerce .recent-work h2 {
  margin: 3px 0 5px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font: 300 24px "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0 0 10px;
}
.recent-work {
  position: relative;
}
.margin-bottom-40 {
  margin-bottom: 40px !important;
}

/* support-section  */
.support-container {
  margin: 50px 0 !important;
  padding: 3rem;
  display: flexbox;
  justify-content: center;
  height: max-content;
  border: 2px solid var(--light-theme-dropdown-bg-color);
  border-radius: 25px !important;
  background: var(--light-theme-secondary-color);
  color: var(--dark-main-text-color);
}
.guidance {
  display: flexbox;
  justify-content: center;
  /* border: 1px solid #35aa47; */
  text-align: center;
  margin-bottom: 3rem;
}
.support-area {
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  width: 80%;
  /* border: 1px solid #35aa47; */
}
.support-area > span {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--light-theme-dropdown-bg-color);
  color: var(--light-main-text-color);
  height: 3rem;
  width: 10rem;
  border-radius: 30px !important;
  margin: 10px;
}
.support-area > span:hover {
  border: 3px solid var(--light-theme-dropdown-bg-color);
  background-color: var(--light-theme-main-color);
  cursor: pointer;
  color: var(--dark-main-text-color);
}

/* pre footer  */
.pre-footer {
  /* background: url(assets//pattern-3.png); */
  background-color: var(--light-theme-secondary-color);
  color: var(--dark-main-text-color);
}
.pre-footer .container {
  padding-top: 45px;
}
.bottom_divider > div > ul > li {
  list-style: none;
  padding: 3px;
}
.bottom_divider > div > ul > li > b {
  font-size: 20px !important;
}

.bottom_divider > ul > li > a:hover {
  background-color: var(--light-theme-dropdown-bg-color);
}

.pre-footer li {
  margin-bottom: 6px;
}
.pre-footer a {
  color: var(--dark-main-text-color);
}

/* footer  */
.footer {
  background-color: var(--light-theme-secondary-color);
  color: var(--dark-main-text-color);
  border-top: 0.1px solid var(--light-theme-dropdown-bg-color);
  font-size: 12px;
  padding: 15px 0 0 0;
}
